@import "../_utilities/_config";

.menuLeft__header{
    background-color: $color-primary;
    color: #fff;
    font-weight: 900;
    padding: 10px 15px;
    text-transform: uppercase;
}

.menuLeft__item {
    display: block;
    padding: 15px 15px;
    border-bottom: 1px solid $color-border;
}